@tailwind base;
@tailwind components;
@tailwind utilities;

.bgHolder {
  margin: 50px 0;
  background-image: url('../public/images/CarBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

