@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  overflow: hidden;
}

.bgHolder {
  margin: -125px 0;
  background-image: url('../public/images/CarBackground.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

